.footer {
    max-width: 318px;
    margin: 0;
    margin-left: 200px;
    margin-bottom: 60px;
}

@media screen and (max-width: 769px) {
    .footer {
        margin-left: 19px;
        margin-bottom: 36px;
    }
}